@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base-background: #0f0f0f;
    --raised-background: #212121;
    --menu-background: #282828;
    --inverted-background: #f1f1f1;
    --text-primary: #fff;
}

body {
    user-select: none;
    color: var(--text-primary);
    background: var(--base-background);
    font-family: "Roboto", "Arial", sans-serif;
}

.header {
    font-size: 26px;
    font-weight: 700;
}

.btn {
    height: 32px;
    min-width: 12px;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: all ease-in-out 300ms;
    background-color: var(--raised-background);

    &:hover {
        color: var(--menu-background);
        background-color: var(--inverted-background);
    }
}

.row {
    margin-left: 6px;
    margin-right: 6px;
}

hr {
    width: 100%;
    border-color: var(--menu-background);
}

.settings {
    height: 38px;
    width: 160px;
    outline: none;
    margin: auto;
    padding: 0 10px;
    text-align: center;
    appearance: none;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--base-background);
    background-color: var(--menu-background);
    transition: all ease-in-out 300ms;

    &:hover:not(.recording) {
        border-color: var(--raised-background);
        background-color: var(--raised-background);
    }

    &.input.recording {
        animation: record 1.5s infinite 0.5s;

        @keyframes record {
            0% {
                border-color: var(--base-background);
            }
            50% {
                border-color: #ff0000;
            }
            100% {
                border-color: var(--base-background);
            }
        }
    }
}
